@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.animate__animated.animate__fadeInLeft,
.animate__animated.animate__fadeInRight {
    --animate-duration: 2s;
}

.animation-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #131212;
    color: #fff2f5;
    font-family: 'Permanent Marker', cursive;
}

.animation-container .row {
    width: 100%;
}

.animation-container img {
    max-width: 80px;
    margin-left: auto;
}

.animation-container p {
    font-size: 1.5rem;
    margin: 0;
    margin-right: auto;
    text-align: left;
}

