/*{
    outline:1px solid red;
}*/

span {
  display: block;
}

.img-thumbnail {
  
  width: 100%;
}

.container, #abuelo {
  /* background-color: #d3d3d3 !important; */
  background-color: #DBE3ED;
  height: 100% !important;
  padding-bottom: 1510px !important;
}

.fila {
  padding: 15px 0;
  margin: 15px 0;

  border: 3px solid #333333;

  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.titulo,
.subtitulo {
  width: max-content;
  padding: 0 10px;

  background-color: #333333;
  color: whitesmoke;
  outline: 5px solid dashed;
}

div[class^="row"] .titulo ~ p,
div[class^="row"] .subtitulo ~ p {
  text-align: center;
}

div[class^="row"] > .titulo {
  background-color: 1px solid black;
}

div[class^="row"] > .subtitulo {
  width: auto;
  text-align: center !important;
  background-color: 1px solid #333;
}


.subtitulo{
  margin: 0 auto;
}

div[class^="row"] .titulo ~ p,
div[class^="row"] .subtitulo ~ p,
div[class^="row"] .titulo ~ div,
div[class^="row"] .subtitulo ~ div{
  padding: 10px 2px;
}

div p{
  font-size: 1.6em !important;
  color: rgb(42, 104, 186) !important;
    font-weight: bold;
}


div[class^="col"] div p > span{
  margin: 10px 0 !important;
  font-size: 18px !important;
  color: black;
}

body > app-root > app-user > div > div:nth-child(3) > div:nth-child(2), body > app-root > app-user > div > div:nth-child(3) > div:nth-child(2) > div{
  height: 100% !important;
}

body > app-root > app-user > div > div:nth-child(3) > div:nth-child(2) > div div{
  background-color: black !important;
}

#matricula{
  background-image: url('../../../assets/img/user/matriculas.png');
  background-position: -12px 170px;
  height: 170px;
  max-width: 343px;
    margin: 0 auto;
    
}

#matricula > p{
  position: relative;
  bottom: -93px;
  font-size: 3.5rem !important;
  color: black !important;
}

.tituloxl{
  font-weight: bolder !important;
  color: rgb(42, 104, 186) !important;
  /*
  BARRA FONDO: #3E597C
  BOTON: 354C6A

  ROJO: d64550
  GRIS: 6f6f6f
  BLANCO: fff2f5 / ffffff
  */
}

#volver{
  background-color: #354C6A;
}


#licencias{
  display: flex;
  align-items: center;
  justify-content: center;
}

#licencias span{
  font-size: 1.2em !important;
  color: rgb(42, 104, 186) !important;
  font-weight: bold;
}