@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@keyframes hide {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

.hide {
    animation: hide 2s;
}

.animate__animated.animate__fadeInLeft,
.animate__animated.animate__fadeInRight {
    --animate-duration: 2s;
}

.animate__animated.animate__fadeOut {
    --animate-duration: 2s;
}

.animation-container-root {
    background-color: #00012d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.animation-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff2f5;
    font-family: 'Permanent Marker', cursive;
}

.animation-container .row {
    width: 100%;
}

.animation-container img {
    max-width: 80px;
    margin-left: auto;
}

.animation-container p {
    font-size: 1.5rem;
    margin: 0;
    margin-right: auto;
    text-align: left;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background: #00012d;
    background-image: url('./../../../assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.form-container {
    background: #f6f6f6bf;
    padding: 1.5rem 2rem ;
    width: 80%;
    margin: auto;
}

.form-container img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    background-color: #00012d;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}

@media only screen and (min-width: 768px) {
    .form-container {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .form-container {
        width: 30%;
    }
}
