.bar-container {
    background: #3E597C;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

button {
    display: inline-block;
    margin-right: 5px;
    color : #ffffff
}

.btn-home {
    background: #354C6A;
}

.btn-exit {
    background-color: #d64550;
}